*{
    margin: 0;
    box-sizing: border-box;
}
.carre{
    height: 170px;
    width: 170px;
    background-color: rgb(63, 19, 63);
    margin: 10px;
    text-align: center;
    font-size: 22px;
    color: rgb(235, 33, 235);
    border: 10px solid rgb(235, 33, 235);
    border-radius: 50px;
    line-height: 170px;   
}
.carreV2{
    height: 170px;
    width: 170px;
    background-color: rgb(14, 14, 73);
    margin: 10px;
    text-align: center;
    font-size: 22px;
    border: 10px solid blue;
    border-radius: 50px;
    line-height: 170px; 
}
.alignement{
    float: left;
}
.superpose{
    /* supprimer l'effet floatant*/
    clear: both;
}